#playButton{
    height: 1.125em;
    border-radius: 0.562em;
    padding: 0 0.5em;
    border: none;
    background-color: #48FAE4;
}

#playButtonDiv{
    margin-bottom: 4%;
}

#gameNameDiv{
    margin-top: 10%;
    justify-content: flex-start;
}

#startPageImageDiv{
    width: 100%;
    margin-bottom: 4%;
    justify-content: flex-end;
}

#startGameWindowDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#startPageImage{
    width: 56%;
    height: auto
}

#goFullscreenButtonDiv{
    width: 100%;
    margin-bottom: 10%;
}

#goFullscreenButton{
    width: 60%;
    padding: 0.3em 0.5em;
    border: 1px solid #48FAE4;
    border-radius: 8px;
    font-family: 'VT323';
    background-color: transparent;
    color: white;
    transition: all 0.6s;
}

#goFullscreenButton:hover{
    color: #48FAE4;
    width: 70%;
    padding: 0.35em 0.5em;
}