#playAgainButton{
    background-color: #48FAE4;
    border: none;
    border-radius: 12px;
    height: 1.5em;
    padding: 0 0.5em;
    font-family: 'VT323';
    margin-bottom: 8px;
}

#playAgainButton:hover{
    background-color: #3CC6B5;
}

#exitButton{
    background-color: transparent;
    border: none;
    border-radius: 12px;
    height: 1.5em;
    padding: 0 1em;
    font-family: 'VT323';
}

#exitButton:hover{
    color: #48FAE4;
}

#sadCubeImageDiv{
    width: 100%;
    position: absolute;
    bottom: 0;
}

#sadCubeImage{
    width: 100%;
    height: auto;
}

#gameScoreDiv{
    margin-bottom: 5%;
}

#resume{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}