body {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 360px;
    min-height: 540px;
}

.gameWindow{
    background-image: url('../assets/background-image.svg');
    background-color: #080E18;
    font-family: 'VT323';
    position: relative;
}

.normalText{
    font-family: 'VT323';
}

.centerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5.5% 5.5% 0 5.5%;
    margin-bottom: 8px;
}

.fullscreenIconDiv{
    width: 6%;
    height: auto;
}

#helpIconDiv{
    width: 7%;
    height: auto;
}

.headerIcon{
    width: 100%;
    height: 100%;
}

.whiteText{
    color: #FFFFFF;
}

.gameText{
    color: #48FAE4;
}